// colors - light theme
$accentColor = #1473e6
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = rgb(199, 162, 162)
$bodyBgColor = #fff
$badgeTipColor = #c5edd9
$badgeWarningColor = #f8edae
$badgeErrorColor = #ffdadc

// colors - dark theme
$accentColorDark = #1473e6
$textColorDark = #e2e1db
$borderColorDark = #4c525c
$codeBgColorDark = #1a1c22
$arrowBgColorDark = #555
$bodyBgColorDark = #25262b
$badgeTipColorDark = #1b4b35
$badgeWarningColorDark = #574e21
$badgeErrorColorDark = #692025

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 900px
$homePageWidth = 980px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

//Font Size
$bodyFontSize = 16px